Repository elianmangin0/SOTAforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc-check, eslint-check

mypy:
  name: mypy-check
  entry: uv run mypy --strict --config-file=pyproject.toml
  language: system

tsc-check:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint check
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix : update pdf parsing to make it cheaper
  src/sotaforge/utils/constants.py
  src/sotaforge/utils/parsing.py
Due: mypy

fix : update config for prod
  .env.secrets.template
  frontend/package.json
  src/sotaforge/utils/constants.py
Due: mypy

fix : update front
  frontend/app/page.tsx
  frontend/tsconfig.tsbuildinfo
Due: tsc-check, eslint-check

fix : add head for health check
  src/sotaforge/api.py
Due: mypy

fix : update readme
  README.md
Due: none

feat : add email send
  .env.secrets.template
  README.md
  frontend/app/page.tsx
  frontend/lib/api.ts
  frontend/tsconfig.tsbuildinfo
  pyproject.toml
  src/sotaforge/api.py
  src/sotaforge/utils/mail.py
  uv.lock
Due: mypy, tsc-check, eslint-check

fix : use resend for mails to be able to make it work in prod
  .env.secrets.template
  README.md
  frontend/app/page.tsx
  frontend/lib/api.ts
  frontend/tsconfig.tsbuildinfo
  pyproject.toml
  src/sotaforge/api.py
  src/sotaforge/utils/mail.py
  uv.lock
Due: mypy, tsc-check, eslint-check

fix : add tests
  README.md
  src/sotaforge/agents/db_server.py
  src/sotaforge/agents/filter_server.py
  src/sotaforge/agents/orchestrator.py
  src/sotaforge/api.py
  test/test_analyzer_server.py
  test/test_api.py
  test/test_db_server.py
  test/test_filter_server.py
  test/test_llm.py
  test/test_mail.py
  test/test_orchestrator.py
  test/test_parser_server.py
  test/test_search_server.py
  test/test_synthesizer_server.py
Due: mypy

fix : reduce parsing parallelism to avoid going oom in prod
  src/sotaforge/agents/analyzer_server.py
  src/sotaforge/agents/synthesizer_server.py
  src/sotaforge/utils/constants.py
  test/test_synthesizer_server.py
Due: mypy

fix : reduce parsing parallelism to avoid going oom in prod
  src/sotaforge/utils/constants.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  tsc-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint-check: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
